*{
	margin: 0;
	padding: 0;

}
@font-face{
font-family: 'AvantGarde';
src: url('../fonts/avantgardegothicc.otf') format('opentype');
}
@font-face{
font-family: 'Intro';
src: url('../fonts/INTRO.otf') format('opentype');
font-weight: 700;
}
/*.blue_span{
 color: #114194;
}
.red_span{
 color: #e20614;
}*/
.bold{
	font-weight: 700;
	text-transform: uppercase;
}
.near p{
	word-wrap: break-word;
}

	.first{
	height: 100vh;
	padding: 0 0 80px 0;
}
header{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-align: center;
}
.red{
	/*color: #e20614;*/
}
footer{
	padding: 20px 0;
}
body{
	font-family: AvantGarde!important;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow-x: hidden;

}
header{
}
.blue_line{
	background-color: #2e5397;
    padding: 20px;
    margin: 100px 0;
}
h1{
	font-size: 36px;
    color: #ffffff;
    margin: 0;
    /*background-color: #2e5397;*/
    padding: 20px;
}
.try h1{
    color: #2e5397;
    margin: 0;
     background-color: rgba(0,0,0,0);
}
p{
	font-size: 24px;
	color: #114194;
}
.container{
	max-width: 1200px;
	width: 97%;
	padding:0 10px;
	margin: auto;
}
img svg path{
    fill: #fff!important;
}
.icon{
    width: 100px;
}
.icons{
    max-width: 33%;
}
.icon_text{
    width: 80%;
    margin: auto;
    text-align: center;
}
.flex__row{
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex__col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo__top {
	margin: auto;
	text-align: center;
	padding: 40px 0;
}
.try .menu__link{
	padding:  20px 0 0 0;
}
.logo__bot img{
}
.menu__links{
	width: 90%;
	margin: auto;
}
.menu__links img{
	width: 40px;
}
.menu__links .flex__row{
	    width: 100%;
    justify-content: space-around;
}
.menu__link p{
	text-decoration: none;
	outline: none;
	color: #114194;
	padding: 10px;
	font-size: 25px;
	transition: all .4s ease;
}
svg path{
	transition: all .4s ease;
}
.menu__link a:hover p{
	color: #e20614;
}
.menu__link a:hover path{
	fill: #e20614!important;
}
.menu{
	align-items: center;
	justify-content: space-between;
}
.leftpad{
	margin-left: 50px;
	padding-left: 25px;
	/*border-left-color: red;*/
	border:6px solid #e20614;
	border-right: none; 
	border-bottom:  none; 
	border-top: none; 

}

/*phone menu*/
label:before, label:after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #e20614;
    border-radius: 2px;
    transition: .5s ease;
}
#menu, label:before, label:after {
    position: absolute;
    left: 100px;
}

label {
    /*padding: 38px 70px;*/
    position: absolute;
    z-index: 1;
}
label:before { top: 50px; }
label:after { top: 70px; }

#menu {
    top: 44px;
    width: 0px;
    transition: .2s ease;
    z-index: 0;
}
#menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0;
    padding: 0 0 0 10px
}
li, a {
    color: #114194;
    /*text-indent: -15px;*/
    text-decoration: none;
    text-transform: none;
    list-style: none;
}

#menu-toggle:checked + label:before {
    top: 60px;
    /*left: 50px;*/
    transform: rotate(-45deg);
}
#menu-toggle:checked + label:after {
    top: 60px;
    /*left: 50px;*/
    transform: rotate(45deg);
}
#menu-toggle:checked + label + #menu {
    position: absolute;
    top: -130px;
    background-color: rgba(255,255,255,.9);
    width: 180px;
    height: 166px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: .3s ease .2s;
    z-index: 1;
}
#menu-toggle:checked + label + #menu li {
    pointer-events: all;
    /* font: 16pt 'Roboto', sans-serif; */
    font-size: 23px;
    line-height: 1.85;
    opacity: 1;
    z-index: 2;
    transition: .2s ease .3s;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}
/*phone menu*/
.adv{
	/*width: 70%;*/
	margin: auto;
}
.adv p{
	color: #114194;
}
.big{
	font-size: 44px;
	color: #114194;
	font-family: 'Intro';
	font-weight: 700;
	text-align: center;
	line-height: 25px!important;
}
/*.near{
	column-width: 30vw;
	
}*/
.near p{
	margin: 0;
	color: #114194;
}
@media only screen and (max-width: 1279px) {
	
	footer img{
		padding: 20px;
	}
	footer .flex__row{
		flex-direction: column;
	}
	p{
		font-size: 20px;	
	}
	header{
		margin: 20px 0;
	}
	.menu{
		justify-content: center;
	}
	.menu__links{
		padding: 20px 0;
	}
}
@media only screen and (max-width: 768px) {
	p{
		font-size: 15px;
		line-height: 20px!important;	
	}
	
	.menu{
		justify-content: center;

	}
	.menu__links{
		padding: 50px 0;
	}
	.menu__link a{
		font-size: 20px;
		filter: drop-shadow(0px 0px 1px #114194);
	}

}
@media only screen and (min-width: 767px) {
	.quote{
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-align: center;*/
	padding: 100px 0;
}

	.menu__phone{
		display: none;
	}
	.icons_adv {
	    position: absolute;
	    top: 80%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    width: 90%;
	}
	
}
@media only screen and (max-width: 767px) {
	.menu__phone{
	position: fixed;
    bottom: 86px;
    left: -90px;
    z-index: 9999;
	}
	.menu{
		display: none;
	}
	h1{
		font-size: 25px;
		text-align: center;
	}	
	.menu__links{
		padding: 50px 0;
	}
	.icons_adv{
		flex-direction: row;
	}
	.icons{
		max-width: 100%;
		padding: 10px 0;
	}
	.icon_text{
		width: 100%;
	}
	.container{
		width: 95%;
	}
	

}
